@import '../../../scss/vars';
$card-border-width: 4px;
$length-without-border: calc(100% - 2 * #{$card-border-width});

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px - 2 * $card-border-width;
    height: $length-without-border;
    text-align: center;
    text-transform: uppercase;
    border: $card-border-width solid $color-on-light;
}

.details {
    font-style: italic;
}

.actions {
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    width: $length-without-border;
    border: $card-border-width solid $color-on-light;
    overflow: hidden;
}

.btn {
    flex-grow: 1;
}