@import '../../../scss/vars';

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 400px;
    height: 100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.title {
    font-size: 72px;
}

.subtitle, .notice {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    color: $color-quicksilver;
}

.subtitle {
    top: 12px;
}

.notice {
    bottom: 20px;
}