@import '../../../scss/vars';

.sector {
	border: 2px solid $color-dark;
	text-align: center;
	flex-grow: 1;
	min-height: 152px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 5%;
	flex-basis: 5%;

	&--simple {
		justify-content: center;
	}

    &--owner {
        background-color: $color-sector-own;
    }
	
	.meta {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;
	}
	
	.price {
		font-style: 14px;
		font-weight: 600;
		line-height: 18px;
		margin: 8px 0 0;

		&--bottom {
			margin: 0 0 8px;
		}
	}
	
	.title {
		margin: 0px 2px 8px;
		word-break: break-word;
		line-height: 15px;
		max-height: 60px;
		overflow: hidden;
		font-size: 10px;
		text-transform: uppercase;
		font-weight: 600;

		&--bottom {
			margin: 8px 2px 0px;
		}
	}

	.color {
		height: 40px;

		&--blue {
			background-color: $color-blue;
		}
		
		&--blue-sky {
			background-color: $color-blue-sky;
		}
		
		&--red {
			background-color: $color-red;
		}
		
		&--green {
			background-color: $color-green;
		}
		
		&--yellow {
			background-color: $color-yellow;
		}
		
		&--orange {
			background-color: $color-orange;
		}
		
		&--purple {
			background-color: $color-purple;
		}
		
		&--pink {
			background-color: $color-pink;
		}

	}

}
